.head{
  height: 120px;
  background-color:rgb(42, 151, 205);
}

.logo{
  margin-left:30px;
  height: 150px;
  line-height: 150px;
  font-size: 250%;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.settingBtn{
  display: inline-block;
  float: right;
  height: 30px;
  width: 50px;
  margin: 15px 15px 0px 0px;
  font-size: 50%;
  line-height: 30px;
  padding: 0px;
}

.container-btn{
  position:relative;
  height:20px;
}

.thresholdBtn{
  display: inline-block;
  height: 30px;
  width: 80px;
  margin-bottom: 20px;
  font-size: 50%;
  line-height: 30px;
  padding: 0px;
}

.rightBtn{
  height: 30px;
  width: 80px;
  position: absolute;
  right: 0px;
  margin-bottom: 20px;
  font-size: 50%;
  line-height: 30px;
  padding: 0px;
}

.wideBtn{
  margin-top: 40px;
  width: 100%;
  font-size: 120%;
  padding: 5px;
}

/* 较粗 */
.hr{
  border-color: black;
  position: relative;
  border-width: 3px;
  margin: 0px;
}
/* 较细 */
.hr2{
  border-color: black;
  position: relative;
  border-width: 1px;
  margin: 0px 0 8px 0;
}

.hr3{/*渐变*/
  position: relative;
  border-width: 3px;
  border-color: #1b7bc9;
  border:5px solid transparent;
  border-radius: 5px;
	background-clip:padding-box,border-box;
	background-origin:padding-box,border-box;
	background-image:linear-gradient(90deg,#fff,#fff),linear-gradient(90deg,#5c5fa5,#893f60);
}

.bgimg{
  height: 220px;
  width: 100%;
  background-image: url("../images/homepageImg.jpg");
  background-size: 100% 100%;
}

.operationArea{
  background-color: rgba(0,0,0,0.05);
  height: auto;
  margin: 0px;
}

.real-time{
  height: auto;
  border-style: solid;
  border-width: thin;
  border-left: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: black;
}

.chartArea{

  height: 800px;
}

h3{
  margin-top:8px;
  font-weight:bold
}

h4{
  margin-top: 20px;
  font-weight: bold;
}

.sourceData{
  margin-top: 15px;
}

.list-group > .haslink:hover{
  background-color: rgba(0,0,0,0.08);
  cursor: pointer;
}

#datePicker{
  margin-left: 30px;
}

#itemPicker{
  margin-top: 10px;
  margin-left: 30px;
  display: block;
}

.bottom-blank{
  margin-bottom: 20px;
}

.fillingbox{
  height: 60px;
}
