<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>水质检测</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/justified-nav.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<div class="container">
  <div class="head">
    <!-- 头部 包括设置logo和设置按钮 -->
    <div class="logo">
      LOGO
    </div>
    <button type="button" class="btn btn-default btn-lg settingBtn">
        设置
      </button>
  </div>
  <hr class="hr" style=" margin-bottom: -3px;  top: -10px;">
  <!-- 导航栏 -->
  <nav>
    <ul class="nav  nav-justified">
      <li><a href="index.html">首页</a></li>
      <li class="active"><a href="#">生产车间和仓库温湿度</a></li>
      <li><a href="#">实验检验数据</a></li>
      <li><a href="equiment.html">生产设备和耗材更换数据</a></li>
      <li><a href="#">微生物污染和化学污染数据分析</a></li>
    </ul>
  </nav>
  <hr class="hr3">
  <!-- 操作界面 -->
  <div class="operationArea row" style="margin-top:20px;">
    <!-- 左侧区域 -->
    <div class="real-time col-md-3" style="margin-top:10px;">
      <h4>生产车间</h4>
      <div class="sourceData">
        <hr class="hr2">
        <div class="bottom-blank" id="workshopPicker">
          <template>
            <el-select v-model="value" placeholder="请选择车间">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </template>
        </div>
        <ul class="list-group" id="workshop">
          <li v-for="todo in todos" class="list-group-item" style="padding:7px 15px;">
            {{todo.text}}
          </li>
        </ul>
        <div class="container-btn">
        <button type="button" class="btn btn-primary btn-lg rightBtn">
            查询
          </button>
        </div>
      </div>

      <h4>仓库</h4>
      <div class="sourceData">
        <hr class="hr2">
        <div class="bottom-blank" id="storePicker">
          <template>
            <el-select v-model="value" placeholder="请选择仓库">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </template>
        </div>
        <ul class="list-group"  id="store">
          <li v-for="todo in todos" class="list-group-item" style="padding:7px 15px;">
            {{todo.text}}
          </li>
        </ul>
        <div class="container-btn">
        <button type="button" class="btn btn-primary btn-lg rightBtn">
            查询
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg wideBtn">
          查看所有数据
      </button>
      <div class="fillingbox"></div> <!-- 空白填充 -->
    </div>

    <!-- 右侧区域 -->
    <div class="chartArea col-md-9">

    </div>

  </div>
</div>
</div>



<script src="js/jquery-3.3.1.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/myjs_workshop.js"></script>
</body>

</html>
